body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}

.estrutura {
  width: 100%;
  height: 100%;
  position: relative;
}

.emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Tamanho do rosto feliiiz */
}

.menu {
  position: absolute;
  top: 40px;
  right: 40px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}